<div class="card card-user">
    <div class="card-body">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Question</label>
                        <input type="text" class="form-control" placeholder="Write a question" formControlName="question">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 pr-1">
                    <div class="form-group">
                        <label>Answer</label>
                        <input type="text" class="form-control" placeholder="Write the offered answer" id="answer" formControlName="firstAnswer">

                    </div>
                </div>
                <div class="col-md-2 px-1">
                    <div class="form-group">
                        <input type="checkbox" class=" form-control form-check-input largerCheckbox"
                            id="materialUnchecked" formControlName="firstCorr">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="form-check-label"
                            for="materialUnchecked">Correct</label>
                    </div>

                </div>
            </div>
            <div class="row"  *ngFor="let answer of answers">
                <div class="col-md-8 pr-1">
                    <div class="form-group">
                        <label>Answer</label>
                        <input type="text" class="form-control" placeholder="Write the offered answer" id="answer" formControlName="answer">

                    </div>
                </div>
                <div class="col-md-2 px-1">
                    <div class="form-group">
                        <input type="checkbox" class=" form-control form-check-input largerCheckbox"
                            id="materialUnchecked" formControlName="corr">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="form-check-label"
                            for="materialUnchecked">Correct</label>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="update ml-auto mr-auto">
                    <button type="submit" class="btn btn-primary btn-round" (click)= "addNewAnswer()">Add new answer</button>
                    <button type="submit" class="btn btn-primary btn-round" (click)= "nextQuestion()">Next question</button>
                    <button type="submit" class="btn btn-primary btn-round" (click) = "finishTest()">Finish test</button>
                </div>
            </div>
        </form>
    </div>
</div>